body{
    background-color:darkgrey;
    padding: 1rem;
    line-height: .3rem;
    overflow: hidden;
}
.footer{
    position: absolute;
    bottom:1rem;
    left: 2%;
    right: 2%;
    padding: 0 1rem;
    margin: 0 1rem
}
